*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white !important;
}
img{
    width: 100%;
    height: 30%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
i{
    font-size: 50px;
    color: #0d6efd !important;
    margin-bottom: 15px;
}